
.cta {
    background-color: $dark-color-100;
    color: $light-color-100;
    border: none;
    text-transform: uppercase;
    font-size: 0.75em;
    padding: 1.4em;
    border-radius: 2em;

    &:focus {
        outline: none;
    }
}

.cta.begin {
    background-color: $cta-begin;
}

.cta-round {
    background-color: $dark-color-100;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    @include f-position(center, center);

}