
.unit-counter {
    text-align: center;

    span {
        color: $mid-blue-gray;
        text-transform: uppercase;
        font-size: 0.75em;
    }

    .counter-wrapper {
        @include f-position(center, center);
        width: 13em;
        margin: 0.5em auto;
        border: thin $dark-color-80 solid;
        border-radius: 3em;
        padding: 0 1em;
    }
    
    input {
        display: block;
        flex: 1 0 2em;
        text-align: center;
        line-height: 2;
        min-width: 0;
        background-color: transparent;
        border: none;
        color: $light-color-100;
        font-size: 1.8em;
    }
}