
.unit-calendar {
    width: 20em;
    margin: 2em auto;
    @include f-position(center, center);
    
    input {
        color: $mid-blue-gray;
        background-color: transparent;
        border: none;
        border-bottom: thin $dark-color-80 solid;
        width: 91%;
        font-size: 0.75em;
        line-height: 2;
        text-align: center;

        &:focus {
            outline: none;
        }
        
        &::placeholder {
            color: $mid-blue-gray;
            text-transform: uppercase;
            text-align: center;
        }
    }

}