
$neon-blue: #00A8FF;
$neon-green: #00FF0D;
$neon-red: #FF3D00;

$dark-color-100: #1C2130;
$dark-color-90: #252C40;
$dark-color-80: #404359;

$mid-blue-gray: #9191B5;
$light-color-100: #fff;


//--- hard reset
* {
    list-style-type: none;
    box-sizing: border-box;
}