
$neon-blue: #00A8FF;
$neon-green: #00FF0D;
$neon-red: #FF3D00;

$dark-color-100: #1C2130;
$dark-color-90: #252C40;
$dark-color-80: #404359;

$mid-blue-gray: #9191B5;
$light-color-100: #fff;

$neon-blue-container-glow: 0 0.25em 2.32em $neon-blue;
$neon-blue-btn-glow: 0 0 1.4em $neon-blue;

$container-radius-top: 1.875em 1.875em 0 0;
$container-radius-bottom: 0 0 1.875em 1.875em;
$image-radius-right: 0 1.125em 1.125em 0;

$font-c-card: "credit_cardregular", sans-serif;
$font-primary-book: 'gothambook', sans-serif;
$font-primary-bold: 'gothambold', sans-serif;


//--- custom fonts
@font-face {
    font-family: 'gothambold';
    src: url(../fonts/gotham/gothambold-webfont.woff2) format('woff2'),
         url(../fonts/gotham/gothambold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothambook';
    src: url(../fonts/gotham/gotham-book-webfont.woff2) format('woff2'),
         url(../fonts/gotham/gotham-book-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'credit_cardregular';
    src: url(../fonts/credit-card/credc___-webfont.woff2) format("woff2"),
         url(../fonts/credit-card/credc___-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
  }


//--- hard reset
* {
    list-style-type: none;
    box-sizing: border-box;
}