
//--- elements glow
.neon-el-blue {
    filter: drop-shadow($neon-blue-el-glow);
    color: $neon-blue!important;
}

.neon-el-white {
    filter: drop-shadow($neon-blue-el-glow);
    color: $light-color-100!important;
}

.neon-box {
    animation: box-flicker 2s linear forwards;
    position: relative;
}

.neon-btn {
    &:after {
        animation: btn-glow 5s linear infinite;
    }
}


//--- keyframe animations
@keyframes box-flicker {
    0% {
        opacity: 0.1;
        box-shadow: $neon-blue-container-glow;
    }
    
    10% {
        opacity: 1;
        box-shadow: $neon-blue-container-glow; 
    }
    
    16% {
        opacity: 0.1;
        box-shadow: $neon-blue-container-glow;
    }
    
    18% {
        opacity: 1;
        box-shadow: $neon-blue-container-glow; 
    }

    80% {
        opacity: 0.7;
        box-shadow: $neon-blue-container-glow; 
    }

    100% {
        opacity: 1;
        box-shadow: $neon-blue-container-glow; 
    }
}

@keyframes btn-glow {
    0% {
        opacity: 0.4;
        box-shadow: $neon-blue-btn-glow;
    }

    50% {
        opacity: 1;
        box-shadow: $neon-blue-btn-glow;
    }

    100% {
        opacity: 0.4;
        box-shadow: $neon-blue-btn-glow;
    }
}


//--- transition slides
.slide {
    transform: translateY(0)!important;
}

.slide-d-100 {
    transform: translateY(100vh)!important;
}

.slide-u-100 {
    transform: translateY(-100vh)!important;
}



body {
    font-family: $font-primary-book;
    background-color: $dark-color-100;
}

.wrapper {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.header {
    position: fixed;
    width: 100%;
    height: 11.68em;
    top: 0;
    left: 0;
    background-color: $dark-color-100;
    border-radius: $container-radius-bottom;
    transform: translateY(-120%);
    transition: ease 0.5s all;
    z-index: 90;

    .header-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: $container-radius-bottom;
        z-index: -11;
    }
}


.header-menu {
    @include f-position(space-between, center);
    padding: 1.3em 1.3em 0.8em 1.3em;

    .header-menu-logo {
        img {
            display: block;
            width: 3em;
        }
    }
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: $bg-gradient-rev;
    clip-path: circle(0% at center);
    transition: ease 0.5s all;
    padding: 3em 1.8em;
    opacity: 0;
    z-index: 70;
    overflow: hidden;
    pointer-events: none;

    .menu-logo {
        img {
            display: block;
            width: 8em;
            margin: auto;
        }
    }

    .menu-links {
        text-align: center;
        padding: 0;
        margin: 3em 0 0 0;

        li:not(:last-child) {
            border-bottom: thin $dark-color-90 solid;
        }

        li:last-child a {
            color: $mid-blue-gray;
            pointer-events: initial;
        }


        a {
            color: $dark-color-80;
            text-transform: uppercase;
            display: block;
            padding: 1.75em 0;
            font-size: 0.83em;
            pointer-events: none;
        }

        .active {
            color: $mid-blue-gray;
            pointer-events: initial;
        }
    }
}

.menu.open {
    clip-path: circle(75%);
    opacity: 1;
    pointer-events: initial;
}

.footer {
    position: fixed;
    width: 100%;
    height: 60vh;
    bottom: 0;
    left: 0;
    transform: translateY(100vh);
    background-color: $dark-color-100;
    border-radius: $container-radius-top;
    transition: ease 0.5s all;
    z-index: 90;

    .footer-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: $container-radius-top;
        z-index: -11;
    }

    .unit-counter {
        margin-top: 2em;
    }

    .cta {
        margin: 2.5em auto;
        pointer-events: initial;
    }

    .cta.deactive {
        opacity: 0.2;
        pointer-events: none;
    }
}
