
//--- elements glow
.neon-el-blue {
    filter: drop-shadow($neon-blue-el-glow);
    color: $neon-blue!important;
}

.neon-el-white {
    filter: drop-shadow($neon-blue-el-glow);
    color: $light-color-100!important;
}

.neon-box {
    animation: box-flicker 3s linear forwards;
    position: relative;
}

@keyframes box-flicker {
    0% {
        opacity: 0.1;
        box-shadow: $neon-blue-container-glow;
    }
    
    4% {
        opacity: 1;
        box-shadow: $neon-blue-container-glow; 
    }
    
    6% {
        opacity: 0.1;
        box-shadow: $neon-blue-container-glow;
    }
    
    8% {
        opacity: 1;
        box-shadow: $neon-blue-container-glow; 
    }

    70% {
        opacity: 0.7;
        box-shadow: $neon-blue-container-glow; 
    }

    100% {
        opacity: 1;
        box-shadow: $neon-blue-container-glow; 
    }
}



body {
    font-family: $font-primary-book;
}

.wrapper {
    height: 100vh;
}

.header {
    position: fixed;
    width: 100%;
    height: 11.68em;
    background-color: $dark-color-100;
    border-radius: $container-radius-bottom;
}

.header-menu {
    @include f-position(space-between, center);
    padding: 1.3em 1.3em 0.8em 1.3em;

    .header-menu-logo {
        img {
            display: block;
            width: 3em;
        }
    }
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: $bg-gradient-rev;
    clip-path: circle(0% at center);
    transition: ease 0.5s all;
    padding: 3em 1.8em;
    opacity: 0;
    z-index: 70;
    overflow: hidden;
    pointer-events: none;

    .menu-logo {
        img {
            display: block;
            width: 8em;
            margin: auto;
        }
    }

    .menu-links {
        text-align: center;
        padding: 0;
        margin: 3.3em 0 0 0;

        li:not(:last-child) {
            border-bottom: thin $dark-color-90 solid;
        }


        a {
            color: $mid-blue-gray;
            text-transform: uppercase;
            display: block;
            padding: 1.75em 0;
            font-size: 0.83;
        }
    }
}

.menu.open {
    clip-path: circle(75%);
    opacity: 1;
    pointer-events: initial;
}

.section {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    background-image: $bg-gradient;
    background-color: $dark-color-100;
}