@font-face {
  font-family: 'gothambold';
  src: url(../fonts/gotham/gothambold-webfont.woff2) format("woff2"), url(../fonts/gotham/gothambold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gothambook';
  src: url(../fonts/gotham/gotham-book-webfont.woff2) format("woff2"), url(../fonts/gotham/gotham-book-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'credit_cardregular';
  src: url(../fonts/credit-card/credc___-webfont.woff2) format("woff2"), url(../fonts/credit-card/credc___-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3 {
  font-family: "gothambold", sans-serif;
  color: #9191B5;
}

h4, p {
  font-family: "gothambook", sans-serif;
  color: #9191B5;
  line-height: 1.3;
}

.neon-el-blue {
  -webkit-filter: drop-shadow(0 0 2px #00A8FF);
          filter: drop-shadow(0 0 2px #00A8FF);
  color: #00A8FF !important;
}

.neon-el-white {
  -webkit-filter: drop-shadow(0 0 2px #00A8FF);
          filter: drop-shadow(0 0 2px #00A8FF);
  color: #fff !important;
}

.neon-box {
  -webkit-animation: box-flicker 2s linear forwards;
          animation: box-flicker 2s linear forwards;
  position: relative;
}

.neon-btn:after {
  -webkit-animation: btn-glow 5s linear infinite;
          animation: btn-glow 5s linear infinite;
}

@-webkit-keyframes box-flicker {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0 0.25em 2.32em #00A8FF;
            box-shadow: 0 0.25em 2.32em #00A8FF;
  }
  10% {
    opacity: 1;
    -webkit-box-shadow: 0 0.25em 2.32em #00A8FF;
            box-shadow: 0 0.25em 2.32em #00A8FF;
  }
  16% {
    opacity: 0.1;
    -webkit-box-shadow: 0 0.25em 2.32em #00A8FF;
            box-shadow: 0 0.25em 2.32em #00A8FF;
  }
  18% {
    opacity: 1;
    -webkit-box-shadow: 0 0.25em 2.32em #00A8FF;
            box-shadow: 0 0.25em 2.32em #00A8FF;
  }
  80% {
    opacity: 0.7;
    -webkit-box-shadow: 0 0.25em 2.32em #00A8FF;
            box-shadow: 0 0.25em 2.32em #00A8FF;
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0 0.25em 2.32em #00A8FF;
            box-shadow: 0 0.25em 2.32em #00A8FF;
  }
}

@keyframes box-flicker {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0 0.25em 2.32em #00A8FF;
            box-shadow: 0 0.25em 2.32em #00A8FF;
  }
  10% {
    opacity: 1;
    -webkit-box-shadow: 0 0.25em 2.32em #00A8FF;
            box-shadow: 0 0.25em 2.32em #00A8FF;
  }
  16% {
    opacity: 0.1;
    -webkit-box-shadow: 0 0.25em 2.32em #00A8FF;
            box-shadow: 0 0.25em 2.32em #00A8FF;
  }
  18% {
    opacity: 1;
    -webkit-box-shadow: 0 0.25em 2.32em #00A8FF;
            box-shadow: 0 0.25em 2.32em #00A8FF;
  }
  80% {
    opacity: 0.7;
    -webkit-box-shadow: 0 0.25em 2.32em #00A8FF;
            box-shadow: 0 0.25em 2.32em #00A8FF;
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0 0.25em 2.32em #00A8FF;
            box-shadow: 0 0.25em 2.32em #00A8FF;
  }
}

@-webkit-keyframes btn-glow {
  0% {
    opacity: 0.4;
    -webkit-box-shadow: 0 0 1.4em #00A8FF;
            box-shadow: 0 0 1.4em #00A8FF;
  }
  50% {
    opacity: 1;
    -webkit-box-shadow: 0 0 1.4em #00A8FF;
            box-shadow: 0 0 1.4em #00A8FF;
  }
  100% {
    opacity: 0.4;
    -webkit-box-shadow: 0 0 1.4em #00A8FF;
            box-shadow: 0 0 1.4em #00A8FF;
  }
}

@keyframes btn-glow {
  0% {
    opacity: 0.4;
    -webkit-box-shadow: 0 0 1.4em #00A8FF;
            box-shadow: 0 0 1.4em #00A8FF;
  }
  50% {
    opacity: 1;
    -webkit-box-shadow: 0 0 1.4em #00A8FF;
            box-shadow: 0 0 1.4em #00A8FF;
  }
  100% {
    opacity: 0.4;
    -webkit-box-shadow: 0 0 1.4em #00A8FF;
            box-shadow: 0 0 1.4em #00A8FF;
  }
}

.slide {
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.slide-d-100 {
  -webkit-transform: translateY(100vh) !important;
          transform: translateY(100vh) !important;
}

.slide-u-100 {
  -webkit-transform: translateY(-100vh) !important;
          transform: translateY(-100vh) !important;
}

body {
  font-family: "gothambook", sans-serif;
  background-color: #1C2130;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  height: 11.68em;
  top: 0;
  left: 0;
  background-color: #1C2130;
  border-radius: 0 0 1.875em 1.875em;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
  z-index: 90;
}

.header .header-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0 0 1.875em 1.875em;
  z-index: -11;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.3em 1.3em 0.8em 1.3em;
}

.header-menu .header-menu-logo img {
  display: block;
  width: 3em;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1C2130), to(#252C40));
  background-image: linear-gradient(180deg, #1C2130 50%, #252C40 100%);
  -webkit-clip-path: circle(0% at center);
          clip-path: circle(0% at center);
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
  padding: 3em 1.8em;
  opacity: 0;
  z-index: 70;
  overflow: hidden;
  pointer-events: none;
}

.menu .menu-logo img {
  display: block;
  width: 8em;
  margin: auto;
}

.menu .menu-links {
  text-align: center;
  padding: 0;
  margin: 3em 0 0 0;
}

.menu .menu-links li:not(:last-child) {
  border-bottom: thin #252C40 solid;
}

.menu .menu-links li:last-child a {
  color: #9191B5;
  pointer-events: initial;
}

.menu .menu-links a {
  color: #404359;
  text-transform: uppercase;
  display: block;
  padding: 1.75em 0;
  font-size: 0.83em;
  pointer-events: none;
}

.menu .menu-links .active {
  color: #9191B5;
  pointer-events: initial;
}

.menu.open {
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
  opacity: 1;
  pointer-events: initial;
}

.footer {
  position: fixed;
  width: 100%;
  height: 60vh;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  background-color: #1C2130;
  border-radius: 1.875em 1.875em 0 0;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
  z-index: 90;
}

.footer .footer-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 1.875em 1.875em 0 0;
  z-index: -11;
}

.footer .unit-counter {
  margin-top: 2em;
}

.footer .cta {
  margin: 5em auto;
}

.back-btn {
  color: #00A8FF;
}

.back-btn i {
  font-size: 1.5em;
}

.card {
  padding: 1.2em 0;
  position: relative;
}

.card:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  border-bottom: thin #404359 solid;
}

.card input {
  display: none;
}

.card label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card label .card-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  height: 8em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 1.125em 1.125em 0;
}

.card label .card-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  padding: 0 1.7em;
}

.card label .card-content .headline {
  display: block;
  font-size: 0.875em;
  font-family: "gothambold", sans-serif;
  color: #fff;
  margin: 0;
}

.card label .card-content .content {
  display: block;
  font-size: 0.58em;
  font-family: "gothambook", sans-serif;
  color: #9191B5;
  line-height: 1.2;
  padding: 1em 0;
}

.card label .check {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(-100%, 50%);
          transform: translate(-100%, 50%);
  width: 1.8em;
  height: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: thin #404359 solid;
  background-color: #1C2130;
  z-index: 20;
}

.card label .check i {
  font-size: 1.1em;
  color: #404359;
  margin-top: 0.1em;
}

.card input:checked + label .check {
  border: none;
}

.card input:checked + label .check:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1C2130;
  border-radius: 50%;
  -webkit-animation: btn-glow 5s linear infinite;
          animation: btn-glow 5s linear infinite;
  z-index: -1;
}

.card input:checked + label .check i {
  color: #00A8FF;
  -webkit-filter: drop-shadow(0 0 2px #00A8FF);
          filter: drop-shadow(0 0 2px #00A8FF);
}

.credit-card-image {
  width: 14.31em;
  height: 9.25em;
  border-radius: 0.3em;
  margin: 0 auto 3em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/assets/images/c-card-bg.png);
  -webkit-box-shadow: 0 0.5em 1em -0.5em rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.5em 1em -0.5em rgba(0, 0, 0, 0.6);
  position: relative;
}

.credit-card-image .cc-number {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  width: 100%;
  line-height: 1.7;
  text-align: center;
  font-family: "credit_cardregular", sans-serif;
  font-weight: lighter;
  font-size: 0.8em;
  color: #66cbff;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.4), -0.1em -0.1em 0.1em rgba(255, 255, 255, 0.2);
  letter-spacing: 0.06em;
}

.credit-card-image .cc-name {
  position: absolute;
  display: block;
  bottom: 1em;
  left: 0;
  width: 100%;
  line-height: 1.7;
  text-align: left;
  padding: 0 1em;
  font-family: "credit_cardregular", sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 0.6em;
  color: #66cbff;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.4), -0.1em -0.1em 0.1em rgba(255, 255, 255, 0.2);
  letter-spacing: 0.06em;
}

.credit-card-image.visa {
  background-image: url(/assets/images/c-card-bg-visa.png);
}

.credit-card-image.mc {
  background-image: url(/assets/images/c-card-bg-mc.png);
}

.credit-card-input {
  width: 90%;
  margin: 0 auto;
}

.form-group {
  position: relative;
  margin-bottom: 0.6em;
}

.form-group input[type="text"] {
  display: block;
  width: 100%;
  margin-top: 0.5em;
  border: none;
  border-bottom: thin #404359 solid;
  background-color: transparent;
  padding: 0.5em;
  line-height: 1.5;
  border-radius: 0.2em;
  color: #9191B5;
  position: relative;
}

.form-group input[type="text"]:focus {
  outline: none;
}

.form-group input[type="text"]::-webkit-input-placeholder {
  opacity: 1;
  color: #9191B5;
  text-transform: uppercase;
  font-size: 0.75em;
}

.form-group input[type="text"]:-ms-input-placeholder {
  opacity: 1;
  color: #9191B5;
  text-transform: uppercase;
  font-size: 0.75em;
}

.form-group input[type="text"]::-ms-input-placeholder {
  opacity: 1;
  color: #9191B5;
  text-transform: uppercase;
  font-size: 0.75em;
}

.form-group input[type="text"]::placeholder {
  opacity: 1;
  color: #9191B5;
  text-transform: uppercase;
  font-size: 0.75em;
}

.form-group input + span {
  position: absolute;
  width: 1.9em;
  height: 1.9em;
  top: 50%;
  right: 0;
  -webkit-transform: translate(20%, -50%);
          transform: translate(20%, -50%);
  border-radius: 50%;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

.form-group .message-sucess {
  background-color: #1C2130;
  -webkit-box-shadow: 0 0 1.4em #00FF0D;
          box-shadow: 0 0 1.4em #00FF0D;
}

.form-group .message-sucess:before {
  content: '\f00c';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 1px;
  font-size: 0.9em;
  color: #00FF0D;
}

.form-group .message-error {
  background-color: #1C2130;
  -webkit-box-shadow: 0 0 1.4em #FF3D00;
          box-shadow: 0 0 1.4em #FF3D00;
}

.form-group .message-error:before {
  content: '\f00d';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.2em;
  color: #FF3D00;
}

.fg-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fg-wrapper > div:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
  margin-right: 1.5em;
}

.fg-wrapper > div:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.cta {
  display: block;
  background-color: #1C2130;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 0.75em;
  padding: 1.4em;
  border-radius: 2em;
  position: relative;
}

.cta:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1C2130;
  border-radius: 50%;
  z-index: -1;
}

.cta:focus {
  outline: none;
}

.cta.begin {
  background-color: #0069B5;
}

.cta.begin:after {
  display: none;
}

.cta-round {
  background-color: #1C2130;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.cta-round:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1C2130;
  border-radius: 50%;
  z-index: -1;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.6em;
  height: 1.6em;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  overflow: hidden;
  position: relative;
  z-index: 90;
  cursor: pointer;
}

.menu-btn .menu-btn-burg {
  width: 1.5em;
  height: 3px;
  background-color: #00A8FF;
  border-radius: 3.5px;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

.menu-btn .menu-btn-burg:before, .menu-btn .menu-btn-burg:after {
  content: '';
  position: absolute;
  width: 1.5em;
  height: 3px;
  background-color: #00A8FF;
  border-radius: 3px;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

.menu-btn .menu-btn-burg:before {
  -webkit-transform: translateY(-0.5em);
          transform: translateY(-0.5em);
}

.menu-btn .menu-btn-burg:after {
  -webkit-transform: translateY(0.5em);
          transform: translateY(0.5em);
}

.menu-btn.open .menu-btn-burg {
  -webkit-transform: translateX(-4em);
          transform: translateX(-4em);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.open .menu-btn-burg:before {
  -webkit-transform: rotate(45deg) translate(2.85em, -2.85em);
          transform: rotate(45deg) translate(2.85em, -2.85em);
}

.menu-btn.open .menu-btn-burg:after {
  -webkit-transform: rotate(-45deg) translate(2.85em, 2.85em);
          transform: rotate(-45deg) translate(2.85em, 2.85em);
}

.progress-bar {
  margin: 0.8em 2.3em;
}

.progress-bar .progress-title {
  color: #9191B5;
  text-transform: uppercase;
  font-size: 0.64em;
  margin-bottom: 1em;
}

.progress-bar .bar {
  height: 4px;
  width: 100%;
  position: relative;
  z-index: 10;
  background-color: #252C40;
}

.progress-bar .progress {
  position: relative;
  height: 100%;
  width: 0%;
  background-color: #00A8FF;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 3px;
}

.progress-bar .progress:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(3px, -50%);
          transform: translate(3px, -50%);
  width: 70%;
  height: 200%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(#00A8FF));
  background-image: linear-gradient(90deg, transparent 0%, #00A8FF 100%);
  border-radius: 5px;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-animation: bar-pulse 5s ease infinite;
          animation: bar-pulse 5s ease infinite;
}

@-webkit-keyframes bar-pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes bar-pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}

.unit-counter {
  text-align: center;
}

.unit-counter span {
  color: #9191B5;
  text-transform: uppercase;
  font-size: 0.75em;
}

.unit-counter .counter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13em;
  margin: 0.5em auto;
  border: thin #404359 solid;
  border-radius: 3em;
  padding: 0 1em;
}

.unit-counter input {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 2em;
          flex: 1 0 2em;
  text-align: center;
  line-height: 2;
  min-width: 0;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.8em;
}

.star-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.star-rating .star {
  width: 1em;
  height: 1em;
  background-color: #404359;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star-rating .star.active {
  background-color: #00A8FF;
}

.dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  text-align: center;
  padding-bottom: 1em;
  margin: 0 1.5em;
  border-bottom: thin #252C40 solid;
}

.dash .dash-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
}

.dash .dash-wrap:not(:last-child) {
  border-right: thin #252C40 solid;
}

.dash .dash-title {
  color: #9191B5;
  text-transform: uppercase;
  font-size: 0.64em;
  margin-bottom: 0.8em;
}

.dash .dash-amount {
  color: #404359;
  font-size: 1.35em;
}

.unit-calendar {
  width: 20em;
  margin: 2em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.unit-calendar input {
  color: #9191B5;
  background-color: transparent;
  border: none;
  border-bottom: thin #404359 solid;
  width: 91%;
  font-size: 0.75em;
  line-height: 2;
  text-align: center;
}

.unit-calendar input:focus {
  outline: none;
}

.unit-calendar input::-webkit-input-placeholder {
  color: #9191B5;
  text-transform: uppercase;
  text-align: center;
}

.unit-calendar input:-ms-input-placeholder {
  color: #9191B5;
  text-transform: uppercase;
  text-align: center;
}

.unit-calendar input::-ms-input-placeholder {
  color: #9191B5;
  text-transform: uppercase;
  text-align: center;
}

.unit-calendar input::placeholder {
  color: #9191B5;
  text-transform: uppercase;
  text-align: center;
}

.none {
  display: none !important;
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1C2130), color-stop(75%, #252C40));
  background-image: linear-gradient(0deg, #1C2130 0%, #252C40 75%);
  background-color: #1C2130;
}

.section-1 {
  background-color: #404359;
  overflow: hidden;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.section-1 .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-1 .layer-0 img {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
}

.section-1 .layer-1 img {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
}

.section-1 .layer-2 {
  z-index: 1;
}

.section-1 .layer-2 img {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
}

.section-1 .layer-3 {
  z-index: 6;
}

.section-1 .layer-3 img {
  position: absolute;
  display: block;
  bottom: 9%;
  left: 0;
}

.section-1 .layer-4 {
  z-index: 5;
}

.section-1 .layer-4 img {
  position: absolute;
  display: block;
  bottom: 20%;
  right: 0;
}

.section-1 .layer-5 {
  z-index: 4;
}

.section-1 .layer-5 img {
  position: absolute;
  display: block;
  top: -2%;
  left: 0;
}

.section-1 .layer-6 {
  z-index: 2;
}

.section-1 .layer-6 img {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
}

.section-1 .first-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}

.section-1 .first-content .first-content-logo {
  margin-bottom: 3em;
}

.section-1 .first-content .first-content-logo img {
  display: block;
  width: 12.4em;
}

.section-1 .second-content {
  z-index: 9;
}

.section-1 .second-content .second-content-logo {
  margin: 3.9em 0 3em 0;
}

.section-1 .second-content .second-content-logo img {
  display: block;
  width: 9.5em;
  margin: 0 auto;
}

.section-1 .second-content .second-content-logo + div {
  width: 80%;
  margin: 0 auto;
}

.section-1 .second-content h2 {
  color: #fff;
  font-size: 1.3em;
  width: 90%;
  margin: 0 0 1em 0;
  position: relative;
  padding-bottom: 0.5em;
}

.section-1 .second-content h2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 90%;
  background-color: #00A8FF;
}

.section-1 .second-content h2 span {
  font-family: "gothambook", sans-serif;
  font-weight: lighter;
}

.section-1 .second-content p {
  font-size: 0.62em;
  padding-bottom: 0.5em;
}

.section-2 {
  padding-top: 15em;
  text-align: center;
}

.section-2 h2 {
  font-size: 1.3em;
  text-transform: uppercase;
}

.section-2 h2 span {
  font-family: "gothambook", sans-serif;
  font-size: 0.75em;
}

.section-2 .select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-2 .select {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  padding: 1em;
  pointer-events: none;
}

.section-2 .select-hotel {
  border-right: thin #404359 solid;
  border-bottom: thin #404359 solid;
}

.section-2 .select-hostel {
  border-bottom: thin #404359 solid;
}

.section-2 .select-motel {
  border-right: thin #404359 solid;
}

.section-2 .select-icon path {
  fill: #404359;
}

.section-2 .select-title {
  text-transform: uppercase;
  font-size: 1.1em;
  color: #404359;
  padding-bottom: 0.5em;
  border-bottom: thin #404359 solid;
}

.section-2 .select-title + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-2 .select-title + div h4 {
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 0;
  color: #404359;
}

.section-2 .select-title + div p {
  font-size: 0.5em;
  text-transform: uppercase;
  text-align: right;
  color: #404359;
}

.section-2 .select.active {
  pointer-events: initial;
}

.section-2 .select.active .select-icon {
  -webkit-filter: drop-shadow(0 0 2px #00A8FF);
          filter: drop-shadow(0 0 2px #00A8FF);
}

.section-2 .select.active .select-icon path {
  fill: #00A8FF;
}

.section-2 .select.active .select-title {
  color: #fff;
}

.section-2 .select.active .select-title + div h4 {
  color: #9191B5;
}

.section-2 .select.active .select-title + div p {
  color: #9191B5;
}

.section-3 {
  overflow-y: scroll;
  padding-top: 12em;
}

.section-3 .image-1 {
  background-image: url(/assets/images/hotel-1.jpg);
}

.section-3 .image-2 {
  background-image: url(/assets/images/hotel-2.jpg);
}

.section-3 .image-3 {
  background-image: url(/assets/images/hotel-3.jpg);
}

.section-3 .cta {
  margin: 2.5em auto;
  pointer-events: initial;
}

.section-3 .cta.deactive {
  opacity: 0.2;
  pointer-events: none;
}

.section-4 {
  overflow-y: scroll;
  padding-top: 12em;
}

.section-4 .image-1 {
  background-image: url(/assets/images/hostel-1.jpg);
}

.section-4 .image-2 {
  background-image: url(/assets/images/hostel-2.jpg);
}

.section-4 .image-3 {
  background-image: url(/assets/images/hostel-3.jpg);
}

.section-4 .cta {
  margin: 2.5em auto;
  pointer-events: initial;
}

.section-4 .cta.deactive {
  opacity: 0.5;
  pointer-events: none;
}

.section-5 {
  overflow-y: scroll;
  padding-top: 12em;
}

.section-5 .image-1 {
  background-image: url(/assets/images/motel-1.jpg);
}

.section-5 .image-2 {
  background-image: url(/assets/images/motel-2.jpg);
}

.section-5 .image-3 {
  background-image: url(/assets/images/motel-3.jpg);
}

.section-5 .cta {
  margin: 2.5em auto;
  pointer-events: initial;
}

.section-5 .cta.deactive {
  opacity: 0.2;
  pointer-events: none;
}

.section-6 {
  overflow-y: scroll;
  padding-top: 12em;
}

.section-6 .image-1 {
  background-image: url(/assets/images/house-1.jpg);
}

.section-6 .image-2 {
  background-image: url(/assets/images/house-2.jpg);
}

.section-6 .image-3 {
  background-image: url(/assets/images/house-3.jpg);
}

.section-6 .cta {
  margin: 2.5em auto;
  pointer-events: initial;
}

.section-6 .cta.deactive {
  opacity: 0.2;
  pointer-events: none;
}

.section-7 {
  overflow-y: scroll;
  padding-top: 12em;
}

.section-7 .select-clone {
  height: 12em;
  border: thin #404359 solid;
}

.section-7 h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
}

.section-7 h2 span {
  font-family: "gothambook", sans-serif;
  font-size: 0.75em;
}

.section-7 .card {
  padding: 0.4em 0;
  position: relative;
}

.section-7 .card:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  border-bottom: thin #404359 solid;
}

.section-7 .card input {
  display: none;
}

.section-7 .card label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5em;
}

.section-7 .card label .card-deal {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
}

.section-7 .card label .card-deal p {
  font-size: 0.7em;
  text-transform: uppercase;
}

.section-7 .card label .card-price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
}

.section-7 .card label .card-price p {
  font-size: 0.7em;
}

.section-7 .card label .check-deal {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.8em;
          flex: 0 0 1.8em;
  height: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: thin #404359 solid;
  background-color: #1C2130;
  position: relative;
  z-index: 20;
}

.section-7 .card label .check-deal i {
  font-size: 1.1em;
  color: #404359;
  margin-top: 0.1em;
}

.section-7 .card input:checked + label .check-deal {
  border: none;
}

.section-7 .card input:checked + label .check-deal:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1C2130;
  border-radius: 50%;
  -webkit-animation: btn-glow 5s linear infinite;
          animation: btn-glow 5s linear infinite;
  z-index: -1;
}

.section-7 .card input:checked + label .check-deal i {
  color: #00A8FF;
  -webkit-filter: drop-shadow(0 0 2px #00A8FF);
          filter: drop-shadow(0 0 2px #00A8FF);
}

.section-7 .cta {
  margin: 2.5em auto;
}

.section-8 {
  overflow-y: scroll;
  padding-top: 15em;
}

.section-8 .cta {
  margin: 2.5em auto;
}
/*# sourceMappingURL=style.css.map */