
@import 'base', 'layout';
@import './modules/back-btn', './modules/card', './modules/credit-card-form',
        './modules/cta-button', './modules/custom-check', './modules/menu-btn',
        './modules/progress-bar', './modules/rate-counter', './modules/star-rating',
        './modules/dash';


        
.section-1 {
    background-color: $dark-color-80;
    overflow: hidden;
    
    .layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .layer-0 {
        img {
            display: block;
            width: 100%;
            // transform: scale(4) translateY(-18%);
        }
    }

    .layer-1 {
        img {
            position: absolute;
            display: block;
            width: 100%;
            bottom: 0;
        }
    }

    .layer-2 {
        z-index: 1;

        img {
            position: absolute;
            display: block;
            bottom: 0;
            right: 0;
        }
    }

    .layer-3 {
        z-index: 6;

        img {
            position: absolute;
            display: block;
            bottom: 9%;
            left: 0;
        }
    }

    .layer-4 {
        z-index: 5;

        img {
            position: absolute;
            display: block;
            bottom: 20%;
            right: 0;
        }
    }

    .layer-5 {
        z-index: 4;

        img {
            position: absolute;
            display: block;
            top: -2%;
            left: 0;
        }
    }

    .layer-6 {
        z-index: 2;

        img {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
        }
    }

    .first-content {
        @include f-position(center, center);
        flex-direction: column;
        z-index: 10;

        .first-content-logo {
            margin-bottom: 3em;
            
            img {
                display: block;
                width: 12.4em;
            }
        }
    }
}
