
@import 'base', 'layout';
@import './modules/back-btn', './modules/card', './modules/credit-card-form',
        './modules/cta-button', './modules/custom-check', './modules/menu-btn',
        './modules/progress-bar', './modules/unit-counter', './modules/star-rating',
        './modules/dash', './modules/unit-calendar';


//--- remove after design is complete
.none {
    display: none!important;
}

.section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: ease 0.5s all;
    background-image: $bg-gradient;
    background-color: $dark-color-100;
}



.section-1 {
    background-color: $dark-color-80;
    overflow: hidden;
    transform: translateY(0);
    
    .layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .layer-0 {
        img {
            position: absolute;
            display: block;
            width: 100%;
            bottom: 0;
        }
    }

    .layer-1 {
        img {
            position: absolute;
            display: block;
            width: 100%;
            bottom: 0;
        }
    }

    .layer-2 {
        z-index: 1;

        img {
            position: absolute;
            display: block;
            bottom: 0;
            right: 0;
        }
    }

    .layer-3 {
        z-index: 6;

        img {
            position: absolute;
            display: block;
            bottom: 9%;
            left: 0;
        }
    }

    .layer-4 {
        z-index: 5;

        img {
            position: absolute;
            display: block;
            bottom: 20%;
            right: 0;
        }
    }

    .layer-5 {
        z-index: 4;

        img {
            position: absolute;
            display: block;
            top: -2%;
            left: 0;
        }
    }

    .layer-6 {
        z-index: 2;

        img {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
        }
    }

    .first-content {
        @include f-position(center, center);
        flex-direction: column;
        z-index: 10;

        .first-content-logo {
            margin-bottom: 3em;
            
            img {
                display: block;
                width: 12.4em;
            }
        }
    }

    .second-content {
        z-index: 9;

        .second-content-logo {
            margin: 3.9em 0 3em 0;
            
            img {
                display: block;
                width: 9.5em;
                margin: 0 auto;
            }
        }

        .second-content-logo + div {
            width: 80%;
            margin: 0 auto;
        }
        
        h2 {
            color: $light-color-100;
            font-size: 1.3em;
            width: 90%;
            margin: 0 0 1em 0;
            position: relative;
            padding-bottom: 0.5em;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 90%;
                background-color: $neon-blue;
            }
    
            span {
                font-family: $font-primary-book;
                font-weight: lighter;
            }
        }
    
        p {
            font-size: 0.62em;
            padding-bottom: 0.5em;
        }
    }

}
