
@import 'base', 'layout';
@import './modules/back-btn', './modules/card', './modules/credit-card',
        './modules/cta-button', './modules/menu-btn',
        './modules/progress-bar', './modules/unit-counter', './modules/star-rating',
        './modules/dash', './modules/unit-calendar';


//--- remove after design is complete
.none {
    display: none!important;
}

.section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100vh);
    transition: ease 0.5s all;
    background-image: $bg-gradient;
    background-color: $dark-color-100;
}



.section-1 {
    background-color: $dark-color-80;
    overflow: hidden;
    transform: translateY(0);
    
    .layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .layer-0 {
        img {
            position: absolute;
            display: block;
            width: 100%;
            bottom: 0;
        }
    }

    .layer-1 {
        img {
            position: absolute;
            display: block;
            width: 100%;
            bottom: 0;
        }
    }

    .layer-2 {
        z-index: 1;

        img {
            position: absolute;
            display: block;
            bottom: 0;
            right: 0;
        }
    }

    .layer-3 {
        z-index: 6;

        img {
            position: absolute;
            display: block;
            bottom: 9%;
            left: 0;
        }
    }

    .layer-4 {
        z-index: 5;

        img {
            position: absolute;
            display: block;
            bottom: 20%;
            right: 0;
        }
    }

    .layer-5 {
        z-index: 4;

        img {
            position: absolute;
            display: block;
            top: -2%;
            left: 0;
        }
    }

    .layer-6 {
        z-index: 2;

        img {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
        }
    }

    .first-content {
        @include f-position(center, center);
        flex-direction: column;
        z-index: 10;

        .first-content-logo {
            margin-bottom: 3em;
            
            img {
                display: block;
                width: 12.4em;
            }
        }
    }

    .second-content {
        z-index: 9;

        .second-content-logo {
            margin: 3.9em 0 3em 0;
            
            img {
                display: block;
                width: 9.5em;
                margin: 0 auto;
            }
        }

        .second-content-logo + div {
            width: 80%;
            margin: 0 auto;
        }
        
        h2 {
            color: $light-color-100;
            font-size: 1.3em;
            width: 90%;
            margin: 0 0 1em 0;
            position: relative;
            padding-bottom: 0.5em;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 90%;
                background-color: $neon-blue;
            }
    
            span {
                font-family: $font-primary-book;
                font-weight: lighter;
            }
        }
    
        p {
            font-size: 0.62em;
            padding-bottom: 0.5em;
        }
    }

}

.section-2 {
    padding-top: 15em;
    text-align: center;

    h2 {
        font-size: 1.3em;
        text-transform: uppercase;
        
        span {
            font-family: $font-primary-book;
            font-size: 0.75em;
        }
    }

    .select-wrapper {
        @include f-position(center, flex-end);
        flex-wrap: wrap;
    }

    .select {
        flex: 0 0 40%;
        padding: 1em;
        pointer-events: none;
    }

    .select-hotel {
        border-right: thin $dark-color-80 solid;
        border-bottom: thin $dark-color-80 solid;
    }
    
    .select-hostel {  
        border-bottom: thin $dark-color-80 solid;
    }
    
    .select-motel {
        border-right: thin $dark-color-80 solid;
    }
    
    .select-icon {
        path {
            fill: $dark-color-80;
        }  
    }

    .select-title {
        text-transform: uppercase;
        font-size: 1.1em;
        color: $dark-color-80;
        padding-bottom: 0.5em;
        border-bottom: thin $dark-color-80 solid;
    }

    .select-title + div {
        @include f-position(space-between, flex-start);

        h4 {
            text-transform: uppercase;
            font-size: 0.8em;
            margin: 0;
            color: $dark-color-80;
        }

        p {
            font-size: 0.5em;
            text-transform: uppercase;
            text-align: right;
            color: $dark-color-80;
        }
    }
    
    .select.active {
        pointer-events: initial;

        .select-icon {
            filter: drop-shadow($neon-blue-el-glow);

            path {
                fill: $neon-blue;
            }
        }

        .select-title {
            color: $light-color-100; 
        }

        .select-title + div {    
            h4 {
                color: $mid-blue-gray;
            }
    
            p {
                color: $mid-blue-gray;
            }
        }
    }
}

.section-3 {
    overflow-y: scroll;
    padding-top: 12em;

    .cta {
        margin: 2.5em auto;
        pointer-events: initial;
    }

    .cta.deactive {
        opacity: 0.2;
        pointer-events: none;
    }
}

.section-4 {
    overflow-y: scroll;
    padding-top: 12em;

    .cta {
        margin: 2.5em auto;
        pointer-events: initial;
    }

    .cta.deactive {
        opacity: 0.5;
        pointer-events: none;
    }
}

.section-5 {
    overflow-y: scroll;
    padding-top: 12em;

    .cta {
        margin: 2.5em auto;
        pointer-events: initial;
    }

    .cta.deactive {
        opacity: 0.2;
        pointer-events: none;
    }
}

.section-6 {
    overflow-y: scroll;
    padding-top: 12em;

    .cta {
        margin: 2.5em auto;
        pointer-events: initial;
    }

    .cta.deactive {
        opacity: 0.2;
        pointer-events: none;
    }
}

.section-7 {
    overflow-y: scroll;
    padding-top: 13em;

    .select-clone {
        border-bottom: thin $dark-color-80 solid;
        padding: 1em 0;

        label {
            display: flex;
            justify-content: flex-start;

            .card-image {
            flex: 0 0 40%;
            height: 8em;
            @include bg-images(cover, center);
            
            img {
                display: block;
                width: 100%;
                border-radius: $image-radius-right;
            }
        }

        .card-content {
            flex: 1 0 40%;
            padding: 0 1.7em;

            .headline {
                display: block;
                font-size: 0.875em;
                font-family: $font-primary-bold;
                color: $light-color-100;
                margin: 0;
            }

            .content {
                display: block;
                font-size: 0.58em;
                font-family: $font-primary-book;
                color: $mid-blue-gray;
                line-height: 1.2;
                padding: 1em 0;
            }
        }
        
        .check {
            display: none;
        }
            .card-image {
                flex: 0 0 40%;
                height: 8em;
                @include bg-images(cover, center);
                
                img {
                    display: block;
                    width: 100%;
                    border-radius: $image-radius-right;
                }
            }
    
            .card-content {
                flex: 1 0 40%;
                padding: 0 1.7em;
    
                .headline {
                    display: block;
                    font-size: 0.875em;
                    font-family: $font-primary-bold;
                    color: $light-color-100;
                    margin: 0;
                }
    
                .content {
                    display: block;
                    font-size: 0.58em;
                    font-family: $font-primary-book;
                    color: $mid-blue-gray;
                    line-height: 1.2;
                    padding: 1em 0;
                }
            }
            
            .check {
                display: none;
            }
        }

    }
    
    h2 {
        font-size: 1.3em;
        text-transform: uppercase;
        text-align: center;
        
        span {
            font-family: $font-primary-book;
            font-size: 0.75em;
        }
    }

    .card {
        padding: 0.4em 0;
        position: relative;
    
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            border-bottom: thin $dark-color-80 solid;
        }
    
        input {
            display: none;
        }
    
        label {
            @include f-position(space-between, center);
            padding: 0.3em 1.5em;
    
            .card-deal {
                flex: 1 0 30%;
                font-size: 0.7em;
                text-transform: uppercase;
                color: $mid-blue-gray;
            }
    
            .card-price {
                flex: 0 0 22%;
                font-size: 0.7em;
                color: $mid-blue-gray;
            }
            
            .check-deal {
                flex: 0 0 1.8em;
                height: 1.8em;
                @include f-position(center, center);
                border-radius: 50%;
                border: thin $dark-color-80 solid;
                background-color: $dark-color-100;
                position: relative;
                z-index: 20;
            
                i {
                    font-size: 1.1em;
                    color: $dark-color-80;
                    margin-top: 0.1em;
                }
            }
        }
    
        input:checked + label {
            .check-deal {
                border: none;
    
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $dark-color-100;
                    border-radius: 50%;
                    animation: btn-glow 5s linear infinite;
                    z-index: -1;
                }
                
                i {
                    color: $neon-blue;
                    filter: drop-shadow($neon-blue-el-glow);
                }
            }
        }
    }

    .cta {
        margin: 2.5em auto;
    }

}

.section-8 {
    overflow-y: scroll;
    padding-top: 15em;
    position: relative;

    .cta {
        margin: 2.5em auto;
    }

    .payment-approval-wrap {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        height: 100%;
        @include f-position(center, center);
    }

    .payment-approval {
        width: 17em;
        height: 24em;
        padding: 2em 1em 1em 1em;
        background-color: #F2F2F2;
        border-radius: 0.5em;
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            width: 95%;
            height: 96%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 0.2em;
            background-image: linear-gradient(#F2F2F2, #fff);
        }
    }

    .payment-icon {
        position: relative;
        z-index: 1;
        width: 95px;
        height: 95px;
        background-color: transparent;
        margin: 0 auto;
    }

    h3 {
        text-align: center;
        text-transform: uppercase;
        border-bottom: thin lighten($mid-blue-gray, 25%) solid;
        padding-bottom: 1em;
        position: relative;
        z-index: 2;
    }

    p {
        font-size: 0.6em;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        position: relative;
        z-index: 2; 

        span {
            display: block;
            width: 90%;
            margin: 0.5em auto;
            text-transform: uppercase; 
        }
    }

    .logo {
        display: block;
        width: 3.9em;
        position: relative;
        z-index: 2;
        margin: 1em auto;
    }
}
