
@import 'base', 'layout';
@import './modules/back-btn', './modules/card', './modules/credit-card-form',
        './modules/cta-button', './modules/custom-check', './modules/menu-btn',
        './modules/progress-bar', './modules/rate-counter', './modules/star-rating',
        './modules/dash';


        
.section-1 {
    background-color: $dark-color-80;
    background-image: none;
}

.section-2 {

}

.section-3 {

}

.section-4 {

}

.section-5 {

}